.hero{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-block: 2.5rem;
}

/* changingWords */

.hero .changing-words{
    all: unset;
    display: inline-block;
    width: min-content;
    height: 5rem;
    vertical-align: bottom;
    overflow: hidden;
    
    & span{
        all: unset;
        display: block;
        
        animation: changingWords 6s infinite ease-in-out;
    }
    & :nth-child(1), :nth-child(4){
        color: var(--snitap-sky-mid);
    }
    & :nth-child(2){
        color: var(--snitap-joy-mid);
    }
    & :nth-child(3){
        color: var(--snitap-leaf-mid);
    }
}

/* Animação changingWords */

@keyframes changingWords{

    /* Final */
    0%{
        transform: translateY(0);
    }

    /* Primeira transição com bounce */
    /* Base */
    20%{
        transform: translateY(0);
    }

    /* Bounce 6 etapas */
    23%{
        transform: translateY(-5.7rem);
    }
    25%{
        transform: translateY(-4.5rem);
    }
    27%{
        transform: translateY(-5.3rem);
    }
    29%{
        transform: translateY(-4.7rem);
    }
    31%{
        transform: translateY(-5.1rem);
    }
    32%{
        transform: translateY(-4.9rem);
    }
    /* Final */
    33%{
        transform: translateY(-5rem);
    }

    /* Segunda transição com bounce */
    /* Base */
    53%{
        transform: translateY(-5rem);
    }
    
    /* Bounce 6 etapas */
    56%{
        transform: translateY(-10.7rem);
    }
    58%{
        transform: translateY(-9.5rem);
    }
    60%{
        transform: translateY(-10.3rem);
    }
    62%{
        transform: translateY(-9.7rem);
    }
    64%{
        transform: translateY(-10.1rem);
    }
    65%{
        transform: translateY(-9.9rem);
    }
    /* Final */
    66%{
        transform: translateY(-10rem);
    }

    /* Terceira transição com bounce */
    /* Base */
    87%{
        transform: translateY(-10rem)
    }

    /* Bounce 6 etapas*/
    90%{
        transform: translateY(-15.7rem)
    }
    92%{
        transform: translateY(-14.5rem);
    }
    94%{
        transform: translateY(-15.3rem);
    }
    96%{
        transform: translateY(-14.7rem);
    }
    98%{
        transform: translateY(-15.1rem);
    }
    100%{
        transform: translateY(-14.9rem);
    }
}

/* Actions */

.actions{
    margin-block: 2.5rem;
    display: flex;
    gap: 2rem;
    & img{
        display: block;
        height: 1.5rem;
        width: 1.5rem;
    }

    & a{
        font: var(--text-BTN);
        display: flex;
        align-items: center;
        gap: 0.75rem;
        border-radius: 3rem;
        border: none;
        cursor: pointer;

        transition: transform 500ms ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    & .comprarBTN{
        padding: 1.5rem 3rem;
        background-color: var(--snitap-sun);
        box-shadow: 0 36px 15px hsla(0, 0%, 0%, 0.01), 
            0 20px 12px hsla(0, 0%, 0%, 0.05), 
            0 9px 9px hsla(0, 0%, 0%, 0.09), 
            0 2px 5px hsla(0, 0%, 0%, 0.1);
    }
    & .playBTN .border{
        border-radius: 50%;
        padding: 1.5rem;
        box-shadow: 0 36px 15px hsla(0, 0%, 0%, 0.01), 
                    0 20px 12px hsla(0, 0%, 0%, 0.05), 
                    0 9px 9px hsla(0, 0%, 0%, 0.09), 
                    0 2px 5px hsla(0, 0%, 0%, 0.1);
    }
}
