.hero{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-block: 2.5rem;
}

/* changingWords */

.hero .changing-words{
    all: unset;
    display: inline-block;
    width: min-content;
    height: 5rem;
    vertical-align: bottom;
    overflow: hidden;
    
    & span{
        all: unset;
        display: block;
        
        animation: changingWords 6s infinite ease-in-out;
    }
    & :nth-child(1), :nth-child(4){
        color: var(--snitap-sky-mid);
    }
    & :nth-child(2){
        color: var(--snitap-joy-mid);
    }
    & :nth-child(3){
        color: var(--snitap-leaf-mid);
    }
}

/* Animação changingWords */

@keyframes changingWords{

    /* Final */
    0%{
        transform: translateY(0);
    }

    /* Primeira transição com bounce */
    /* Base */
    20%{
        transform: translateY(0);
    }

    /* Bounce 6 etapas */
    23%{
        transform: translateY(calc(-5rem - 12px));
    }
    25%{
        transform: translateY(calc(-5rem + 10px));
    }
    27%{
        transform: translateY(calc(-5rem - 7px));
    }
    29%{
        transform: translateY(calc(-5rem + 5px));
    }
    31%{
        transform: translateY(calc(-5rem - 3px));
    }
    32%{
        transform: translateY(calc(-5rem + 1px));
    }
    /* Final */
    33%{
        transform: translateY(-5rem);
    }

    /* Segunda transição com bounce */
    /* Base */
    53%{
        transform: translateY(-5rem);
    }
    
    /* Bounce 6 etapas */
    56%{
        transform: translateY(calc(-10rem - 12px));
    }
    58%{
        transform: translateY(calc(-10rem + 10px));
    }
    60%{
        transform: translateY(calc(-10rem - 7px));
    }
    62%{
        transform: translateY(calc(-10rem + 5px));
    }
    64%{
        transform: translateY(calc(-10rem - 3px));
    }
    65%{
        transform: translateY(calc(-10rem + 1px));
    }
    /* Final */
    66%{
        transform: translateY(-10rem);
    }

    /* Terceira transição com bounce */
    /* Base */
    86%{
        transform: translateY(-10rem)
    }

    /* Bounce 6 etapas*/
    90%{
        transform: translateY(calc(-15rem - 12px))
    }
    92%{
        transform: translateY(calc(-15rem + 10px));
    }
    94%{
        transform: translateY(calc(-15rem - 7px));
    }
    96%{
        transform: translateY(calc(-15rem + 5px));
    }
    98%{
        transform: translateY(calc(-15rem - 3px));
    }
    100%{
        transform: translateY(calc(-15rem + 1px));
    }
}

/* Actions */

.actions{
    margin-block: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-wrap: nowrap;
    & img{
        display: block;
        height: 1.5rem;
        width: 1.5rem;
    }

    & a{
        font: var(--text-BTN);
        display: flex;
        align-items: center;
        gap: 0.75rem;
        border-radius: 3rem;
        border: none;
        cursor: pointer;

        transition: transform 500ms ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    & .comprarBTN{
        padding: 1.5rem 3rem;
        background-color: var(--snitap-sun);
        box-shadow: 0 36px 15px hsla(0, 0%, 0%, 0.01), 
            0 20px 12px hsla(0, 0%, 0%, 0.05), 
            0 9px 9px hsla(0, 0%, 0%, 0.09), 
            0 2px 5px hsla(0, 0%, 0%, 0.1);
    }
    & .playBTN .border{
        border-radius: 50%;
        padding: 1.5rem;
        box-shadow: 0 36px 15px hsla(0, 0%, 0%, 0.01), 
                    0 20px 12px hsla(0, 0%, 0%, 0.05), 
                    0 9px 9px hsla(0, 0%, 0%, 0.09), 
                    0 2px 5px hsla(0, 0%, 0%, 0.1);
    }
}

/* Hero Image */
.hero-image-wrapper{
    box-sizing: border-box;
    width: min(40vw, 620px);
    height: min(38vw, 660px);
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

.hero-image{
    position: relative;
    width: 92%;
    height: 100%;
    & img{
        position: absolute;
    }
    & :nth-child(1){
        height: 95%;
        width: 95%;
        right: 0;
        
        transform: translateX(calc(100% + 27.8125rem));
        animation: slideInHero 2.7s 200ms ease-in-out both;
    }
    & :nth-child(2){
        height: 95%;
        width: 100%;
        right: 0;
        z-index: 9;

        transform: translateX(calc(100% + 2rem));
        animation: slideInHero 2925ms 50ms cubic-bezier(.51,.14,.56,.98) both;
    }
    & :nth-child(3){
        height: 72px;
        width: 88px;
        left: 8px;
        top: min(160px, 10vw);

        transform: translateX(calc(100% + 39.5rem));
        animation: slideInHero 2.8s 150ms cubic-bezier(.45,0,.55,1) both;
    }
    & :nth-child(4){
        height: 60px;
        width: 40px;
        right: 2px;
        bottom: max(145px, 12vw);

        transform: translateX(calc(100% + 42.5rem));
        animation: slideInHero 2.9s 150ms cubic-bezier(.5,0,.5,1) both;
    }
}

/* Animação slideInHero */

@keyframes slideInHero {

    50%{
        transform: translateX(-1rem);
    }
    80%{
        transform: translateX(0.25rem);
    }
    100%{
        transform: translateX(0);
    }
}

@media screen and (max-width: 960px){
    .hero .actions{
        & a{
            font-size: 0.8rem;
        }
        & .comprarBTN{
        padding: 1rem 2rem;
        }
        & .border{
        padding: 1rem;
        }
    

    
    @keyframes changingWords{

        /* Final */
        0%{
            transform: translateY(0);
        }

        /* Primeira transição com bounce */
        /* Base */
        20%{
            transform: translateY(0);
        }

        /* Bounce 6 etapas */
        23%{
            transform: translateY(calc(-4rem - 12px));
        }
        25%{
            transform: translateY(calc(-4rem + 10px));
        }
        27%{
            transform: translateY(calc(-4rem - 7px));
        }
        29%{
            transform: translateY(calc(-4rem + 5px));
        }
        31%{
            transform: translateY(calc(-4rem - 3px));
        }
        32%{
            transform: translateY(calc(-4rem + 1px));
        }
        /* Final */
        33%{
            transform: translateY(-4rem);
        }

        /* Segunda transição com bounce */
        /* Base */
        53%{
            transform: translateY(-4rem);
        }
        
        /* Bounce 6 etapas */
        56%{
            transform: translateY(calc(-8rem - 12px));
        }
        58%{
            transform: translateY(calc(-8rem + 10px));
        }
        60%{
            transform: translateY(calc(-8rem - 7px));
        }
        62%{
            transform: translateY(calc(-8rem + 5px));
        }
        64%{
            transform: translateY(calc(-8rem - 3px));
        }
        65%{
            transform: translateY(calc(-8rem + 1px));
        }
        /* Final */
        66%{
            transform: translateY(-8rem);
        }

        /* Terceira transição com bounce */
        /* Base */
        86%{
            transform: translateY(-8rem)
        }

        /* Bounce 6 etapas*/
        90%{
            transform: translateY(calc(-12rem - 12px))
        }
        92%{
            transform: translateY(calc(-12rem + 10px));
        }
        94%{
            transform: translateY(calc(-12rem - 7px));
        }
        96%{
            transform: translateY(calc(-12rem + 5px));
        }
        98%{
            transform: translateY(calc(-12rem - 3px));
        }
        100%{
            transform: translateY(calc(-12rem + 1px));
        }
    }
}

@media (max-width: 768px) {
    .hero{
        flex-direction: column-reverse;
        text-align: center;
        & .actions{
            justify-content: center;
        }
    }
}

@media (max-width: 510px) {
    .hero h1{
        font-size: 2.4rem;
        & .changing-words{
            height: 3rem;
        }
    }
    
    @keyframes changingWords{

        /* Final */
        0%{
            transform: translateY(0);
        }

        /* Primeira transição com bounce */
        /* Base */
        20%{
            transform: translateY(0);
        }

        /* Bounce 6 etapas */
        23%{
            transform: translateY(calc(-3rem - 12px));
        }
        25%{
            transform: translateY(calc(-3rem + 10px));
        }
        27%{
            transform: translateY(calc(-3rem - 7px));
        }
        29%{
            transform: translateY(calc(-3rem + 5px));
        }
        31%{
            transform: translateY(calc(-3rem - 3px));
        }
        32%{
            transform: translateY(calc(-3rem + 1px));
        }
        /* Final */
        33%{
            transform: translateY(-3rem);
        }

        /* Segunda transição com bounce */
        /* Base */
        53%{
            transform: translateY(-3rem);
        }
        
        /* Bounce 6 etapas */
        56%{
            transform: translateY(calc(-6rem - 12px));
        }
        58%{
            transform: translateY(calc(-6rem + 10px));
        }
        60%{
            transform: translateY(calc(-6rem - 7px));
        }
        62%{
            transform: translateY(calc(-6rem + 5px));
        }
        64%{
            transform: translateY(calc(-6rem - 3px));
        }
        65%{
            transform: translateY(calc(-6rem + 1px));
        }
        /* Final */
        66%{
            transform: translateY(-6rem);
        }

        /* Terceira transição com bounce */
        /* Base */
        86%{
            transform: translateY(-6rem)
        }

        /* Bounce 6 etapas*/
        90%{
            transform: translateY(calc(-9rem - 12px))
        }
        92%{
            transform: translateY(calc(-9rem + 10px));
        }
        94%{
            transform: translateY(calc(-9rem - 7px));
        }
        96%{
            transform: translateY(calc(-9rem + 5px));
        }
        98%{
            transform: translateY(calc(-9rem - 3px));
        }
        100%{
            transform: translateY(calc(-9rem + 1px));
        }
    }
}
}